/* Signup.css */
.signup-container {
  width: 420px;
  height: auto; /* height'i auto yaparak içeriğe göre genişlemesini sağlayalım */
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f8f9fa;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Logo container stillerini ekleyelim */
.logo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.signup-logo {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.app-name {
  position: relative;
  color: #495057;
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}

/* Mevcut stiller devam ediyor... */
.background-container::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: 100%;
}

/* Diğer mevcut stiller... */